<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
</head>
<body>
	<h2 th:text="#{app.title}">App Title</h2>
	
	<h4>Add Simple Attributes To Session</h4>
	<form class="form-inline" role="form" action="add-simple-attrs" method="post">
		<label for="attributeName">Attribute Name</label>
		<input id="attributeName" type="text" name="attributeName"/>
		<label for="attributeValue">Attribute Value</label>
		<input id="attributeValue" type="text" name="attributeValue"/>
		<input type="submit" value="Set Attribute"/>
	</form>
	
	<h4>Add Object Attributes To Session</h4>
	<form class="form-inline" role="form" action="add-object-attrs" method="post">
		<label for="name">User Name</label>
		<input id="name" type="text" name="name"/>
		<input type="submit" value="Save"/>
	</form>
	
	
	<h3>Session Attributes</h3>
	<table>
		<thead>
			<tr>
				<th>Attribute Name</th>
				<th>Attribute Value</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="attr : ${session}">
				<td th:text="${attr.key}">Name</td>
				<td th:text="${attr.value}">Value</td>
			</tr>
		</tbody>
	</table>
</body>
</html>